<<<<<<< HEAD
@import "variable";

h1 {
  color: $red-color;
}

p {
  color: $red-color;
}
=======
@import "variable";

h1 {
  color: $red-color;
}

p {
  color: $red-color;
}
>>>>>>> refs/remotes/origin/main
